name: Trigger auto deployment for api-bancodeitens-qa

on:
  push:
    branches:
      [ main ]
    paths:
      - '**'

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.APIBANCODEITENSQA_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.APIBANCODEITENSQA_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.APIBANCODEITENSQA_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry and deploy to ACA
        uses: azure/container-apps-deploy-action@v2
        with:
          # Configurações do Contêiner
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: Dockerfile  # Assume Dockerfile está na raiz do appSourcePath
          imageToBuild: acabolaiteus.azurecr.io/api-bancodeitens-qa:${{ github.sha }}
          
          # Autenticação do Registro (Usando os segredos OIDC do Azure Login)
          
          # Configurações do ACA
          containerAppName: api-bancodeitens-qa
          resourceGroup: rg-bolao-aca-prod
