name: Build and deploy .NET Core app to Azure Container App app-bancodeitens-api

on:
  push:
    branches:
      - main # Monitorar o branch principal

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: Jose-Marcello/bancodeitens_backend
          ref: main 

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and Deploy to Container Apps
        uses: azure/cli@v1
        with:
          inlineScript: |
            # FORÇA A ASSINATURA CORRETA (PREVINE ERRO DE CONTEXTO)
            az account set --subscription 9cdc0b73-fe9b-4ad5-bdbe-88061cf97f60
            # 1. Compila e constrói a imagem Docker (usando o Dockerfile)

            az acr build --registry acrbancodeitensdev \
                         --image app-bancodeitens-api:${{ github.sha }} \
                         --file BancoDeItensWebApi/Dockerfile \
                         --resource-group rg-banco-itens-dev \
                         .                        
          

            # 2. Faz o Deploy da nova imagem no Azure Container App
            az containerapp update --name app-bancodeitens-api \
                                   --resource-group rg-banco-itens-dev \
                                   --image acrbancodeitensdev.azurecr.io/app-bancodeitens-api:${{ github.sha }}




