- name: Deploy to Azure Container Apps
        uses:azure/cli@v1
        with:
          inlineScript: |
            # Removemos o az account set para não forçar o contexto
            
            # 1. Compila e constrói a imagem Docker (ACR BUILD)
            az acr build --registry acrbancoitensdev \ 
                         --image app-bancodeitens-api:${{ github.sha }} \
                         --file BancoDeItensWebApi/Dockerfile \
                         --resource-group rg-banco-itens-dev \
                         . 

            # 2. Faz o Deploy da nova imagem
            az containerapp update --name app-bancodeitens-api \
                                   --resource-group rg-banco-itens-dev \
                                   --image acrbancoitensdev.azurecr.io/app-bancodeitens-api:${{ github.sha }}
