name: Build and deploy .NET Core app to Azure Container App app-bancodeitens-api

on:
  push:
    branches:
      - main # Monitorar o branch principal

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: Jose-Marcello/bancodeitens_backend
          ref: main 

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          # Usa o login do Administrador do ACR (NOME CORRETO)
          login-server: acrbancoitensdev.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Deploy to Azure Container Apps
        uses: azure/cli@v1
        with:
          inlineScript: |
            # FORÇA A ASSINATURA CORRETA (ELIMINA ERRO DE CONTEXTO)
            az account set --subscription 9cdc0b73-fe9b-4ad5-bdbe-88061cf97f60
            
            # 1. Compila e constrói a imagem Docker (ACR BUILD)
            az acr build --registry acrbancoitensdev \ 
                         --image app-bancodeitens-api:${{ github.sha }} \
                         --file BancoDeItensWebApi/Dockerfile \
                         --resource-group rg-banco-itens-dev \
                         . 

            # 2. Faz o Deploy da nova imagem
            az containerapp update --name app-bancodeitens-api \
                                   --resource-group rg-banco-itens-dev \
                                   --image acrbancoitensdev.azurecr.io/app-bancodeitens-api:${{ github.sha }}
